*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/rain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.bxs-droplet{
    color:#fff;
    position: absolute;
    top: -20px;
    animation: fall 4s linear forwards;
}
@keyframes fall{
    to{
        transform: translateY(105vh);
        transform: rotateX(360deg,0deg);
    }
}

.bxs-droplet {
    color: white;
}